body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
}

.gridWrapper {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 200px 200px 200px;
  background-color: #fff;
  color: #444;
}

.board {
  background-color: rgb(247, 242, 222);
  color: rgb(92, 11, 83);
  border-radius: 5px;
  padding: 10px;
  font-size: 100%;
}
